body {
  margin: 0;
  min-height: 99.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 30px;
  width: 630px;
  aspect-ratio: 1 / 0.70;
  /* height: 440px; */
  margin-top: auto;
  /* box-sizing: border-box; */
  font-family: 'Hanken Grotesk', sans-serif;
  box-shadow: 10px 10px 50px 0px hsl(221, 100%, 96%);
}

#result {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* padding: 10px 0; */
  /* flex-basis: 50%; */
  /* flex: 1; */
  /* box-sizing: border-box; */
  border-radius: 30px;
  background: linear-gradient(0deg, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
}

#result #title {
  margin: 30px 0;
  color: hsl(247, 92%, 80%);
  font-size: 20px;
  font-weight: 700;
}

#circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(0deg, hsla(241, 72%, 46%, 0), hsla(256, 72%, 46%, 1));
  /* border: 2px solid red; */
  width: 55%;
  aspect-ratio: 1 / 1;
  /* height: 148px; */
  /* border-radius: 50%; */
  /* shape-outside: circle(); */
  clip-path: circle();
}

#points {
  margin: 0;
  font-weight: 800;
  font-size: 60px;
  color: white;
}

#percentage {
  margin: 0;
  color: hsla(246, 100%, 76%, .7);
}

#congrats {
  font-size: 30px;
  font-weight: 700;
  color: white;
  margin-top: 30px;
  margin-bottom: 0;
}

#text {
  width: 70%;
  color: hsl(247, 92%, 80%);
  font-size: 15px;
  font-weight: 700;
}

#summary {
  display: flex;
  flex-direction: column;
  border-radius: 0 30px 30px 0;
  /* flex-basis: 50%; */
  /* flex: 1; */
  /* box-sizing: border-box; */
  padding: 10px 30px
}

#summary p{
  font-weight: 700;
  font-size: 20px;
}

#cards {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#cards .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 12px;
}

#cards .box img {
  margin-right: 10px;
}

#cards .box .category {
  font-weight: 700;
}

#cards .box .scoreContainer {
  font-weight: 700;
}

#cards .box .score {
  color: hsl(224, 30%, 27%);
}

#cards .box .percentage {
  color: hsl(241, 100%, 89%);
}

.boxReaction {
  color: hsl(0, 100%, 67%);
  background-color: hsla(0, 100%, 67%, 0.07);
}

.boxMemory {
  color: hsl(39, 100%, 56%);
  background-color: hsla(39, 100%, 56%, 0.07)
}

.boxVerbal {
  color: hsl(166, 100%, 37%);
  background-color: hsla(166, 100%, 37%, 0.07);
}

.boxVisual {
  color: hsl(234, 85%, 45%);
  background-color: hsl(234, 85%, 45%, 0.07);
}

#summary button {
  height: 47px;
  margin: 7% 0;
  border: none;
  border-radius: 30px;
  color: white;
  background-color: hsl(224, 30%, 27%);
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 16px;
}

#summary button:hover {
  background: linear-gradient(0deg, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
  cursor: pointer;
}

footer {
  margin-top: auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 1440px) {
  #container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    width: 315px;
  }

  #result {
    height: 300px;
    border-radius: 0 0 30px 30px;
  }

  #result #title {
    font-size: 15px;
    margin: 20px 0;
  }

  #circle {
    width: 37%;
  }

  #points {
    font-size: 45px;
  }

  #percentage {
    font-size: 14px;
  }

  #congrats {
    font-size: 20px;
    margin-top: 20px;
  }

  #text {
    font-size: 13px;
    margin-top: 10px;
  }
}