body {
  border: 2px solid red;
  margin: 0;
  min-height: 99.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 2px solid orange;
  border-radius: 30px;
  width: 630px;
  aspect-ratio: 1 / 0.70;
  /* height: 440px; */
  margin-top: auto;
  /* box-sizing: border-box; */
  font-family: 'Hanken Grotesk', sans-serif;
  box-shadow: 10px 10px 50px 0px #d9dce3;
}

#result {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  align-items: center;
  text-align: center;
  /* padding: 10px 0; */
  /* flex-basis: 50%; */
  /* flex: 1; */
  /* box-sizing: border-box; */
  border-radius: 30px;
  background: linear-gradient(0deg, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
}

#result #title {
  margin: 30px 0;
  color: hsl(247, 92%, 80%);
  font-size: 20px;
}

#circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(0deg, hsla(241, 72%, 46%, 0), hsla(256, 72%, 46%, 1));
  /* border: 2px solid red; */
  width: 55%;
  aspect-ratio: 1 / 1;
  /* height: 148px; */
  /* border-radius: 50%; */
  /* shape-outside: circle(); */
  clip-path: circle();
}

#points {
  margin: 0;
  font-weight: 800;
  font-size: 60px;
  color: white;
}

#percentage {
  margin: 0;
  color: hsla(246, 100%, 76%, .7);
}

#congrats {
  font-size: 30px;
  color: white;
  margin-top: 30px;
  margin-bottom: 0;
}

#text {
  width: 70%;
  color: hsl(247, 92%, 80%);
  font-size: 15px;
}

#summary {
  display: flex;
  flex-direction: column;
  border: 2px solid red;
  border-radius: 0 30px 30px 0;
  /* flex-basis: 50%; */
  /* flex: 1; */
  /* box-sizing: border-box; */
  padding: 10px 30px
}

footer {
  margin-top: auto;
  border: 2px solid green
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}